body{
    margin: 0;
    padding: 0;
    background:linear-gradient(120deg, rgb(85, 85, 210),rgb(213, 113, 113) );
    height: 100vh;
}
.header{
    text-align: center;
}
.body{
    text-align: center;
}
.label{
    padding-top: 10px;
    
    margin-right: 100px;
}
.input{
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}
button{
    border-radius: 30%;
    color: bisque;
    background-color: black;
    margin-top: 10px;
    margin-right: 110px;
}
